/*Popular Dish Navbar*/
.popular-dish .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.menu_tab {
  margin: 0 auto;
  justify-content: center;
  border: 1px solid white;
  border-radius: 15px 15px 0 0;
}
.nav-item .nav-link {
  color: #000 !important;
  font-size: 1rem !important;
  width: 100%;
  box-sizing: border-box;
}

.nav-tabs .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 15px 15px 0 0;
}

.nav-tabs .nav-item.active {
  background-color: var(--primary-color-1) !important;
  color: white !important;
  border: 1px solid var(--primary-color-1);
  text-transform: capitalize;
  font-weight: 600;
}

.nav-tabs .nav-item.active .nav-link {
  background-color: var(--primary-color-1) !important;
  color: white !important;
  border: none;
  text-transform: capitalize;
  font-weight: 600;
}

.nav-item:hover {
  background-color: var(--primary-color-1) !important;
  color: white !important;
  border: 1px solid var(--primary-color-1);
}

/*Popular Dish List*/
.popular-dish {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  width: 90%;
  margin: 100px 0;
}

.listPopularDish {
  margin: 0;
  flex-wrap: wrap;
}

.popular-dish h2 {
  margin: 20px 0 30px !important;
  text-transform: uppercase;
}

.popular-dish h4 {
  color: var(--primary-color-1);
  font-weight: 600;
  text-decoration: underline;
}

.see-all-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.see-all-menu:hover {
  transform: translateX(-5px);
}

.see-all-menu:hover .fa {
  margin-left: 5px;
}

.see-all-menu .fa {
  display: none;
}

.see-all-menu:hover .fa {
  display: inline-block;
}
