.header {
  background-color: var(--primary-color-1);
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.header .navbar {
  padding-bottom: 20px !important;
  margin: 0 auto !important;
  width: 80vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logo-and-pages {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  max-height: 80px;
  max-width: 80px;
  flex: 1;
}

.header-cart-item-img {
  height: 100%;
  width: 100%;
}

.navbar-nav {
  display: flex;
  flex-direction: row !important;
  justify-content: center !important;
  background-color: #0b603d;
  border-radius: 10%;
  padding: 0 auto;
  flex: 3;
}

.logo-and-pages .navbar-nav .nav-link {
  color: white !important;
  font-size: 1.1rem !important;
}

.logo-and-pages .navbar-nav .nav-link:hover {
  border: none !important;
}

/*Cart */
.search-and-cart {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.cart-btn {
  background-color: white !important;
  color: var(--primary-color-1) !important;
  font-size: 1rem !important;
  flex: 1;
}

.cart-quantity {
  display: inline-block;
  background-color: var(--primary-color-2);
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 0.9rem;
}

.fa-shopping-cart {
  color: var(--primary-color-1);
  font-size: 1.1rem;
}

.cart-item {
  background-color: white;
  opacity: 1;
  padding: 10px;
  text-align: center;
  align-items: center;
  border-bottom: #c8c8c8 solid 2px;
  font-size: 16px;
  font-weight: 600;
}

.cart-name {
  font-size: 1.3rem;
  text-align: left;
}

.price-item {
  font-size: 1.3rem !important;
}

.close {
  border: none;
  background: none;
  color: #0b603d;
  transition: all 0.3s;
}

.close:hover {
  transform: scale(1.1);
  z-index: 1;
}

.content-cart {
  background-color: white;
  opacity: 1;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  text-align: center;
  align-items: center;
  border-bottom: #c8c8c8 solid 2px;
  font-size: 16px;
  font-weight: 600;
  color: var(--background-color);
  font-size: 1.2rem;
  background-color: var(--background-color-1);
}

.total-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
}

.total-price h4 {
  color: black;
}

.total-price span {
  color: var(--primary-color-2);
  font-weight: 700;
}

.btn-checkout {
  background-color: #0b603d;
  color: #fff;
  text-align: center;
  width: 100%;
  border: none;
  padding: 10px 0px;
  transition: all 0.3s;
  opacity: 0.9;
}

.btn-checkout:hover {
  opacity: 1;
  background-color: var(--primary-color-2);
}

/* search */
.search-container {
  position: relative;
  flex: 4;
}

.search-container input {
  width: 100%;
}

.search-input {
  border-radius: 15px;
  width: 300px;
  height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.search-icon svg {
  width: 16px;
  height: 26px;
  color: #221f1f;
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  z-index: 1;
}

.search-results-category {
  padding: 10px;
}

.search-result-item {
  display: block;
  padding: 5px;
  color: #333;
  text-decoration: none;
}

.search-result-item:hover {
  background-color: #f5f5f5;
}

@media (min-width: 768px) {
  .header .navbar {
    flex-direction: row;
    padding: 0 !important;
  }

  .logo-and-pages {
    width: fit-content !important;
    flex: 3;
  }

  .search-and-cart {
    width: fit-content !important;
    flex: 2;
  }

  .header-logo {
    max-height: 100px;
    max-width: 100px;
  }
}

@media (min-width: 1024px) {
  .header-logo {
    max-height: 120px;
    max-width: 120px;
  }
}
