.product-page {
  margin: 100px auto;
  width: 75%;
  height: 100% !important;
}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.product-dtl {
  display: flex;
  flex-direction: column;
}

.product-dtl .product-price {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 500;
}

.product-name {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 4px;
  color: var(--primary-color-1);
}

.product-image-container,
.product-detail-container {
  flex-basis: calc(50% - 50px);
}

.product-image-container {
  overflow: hidden;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.product-description {
  font-size: 1.2rem !important;
}

.product-dtl .round-black-btn {
  border-radius: 4px;
  border-color: transparent;
  background: var(--primary-color-2);
  color: #fff;
  padding: 7px;
  display: inline-block;
  margin: 20px 50px 0;
  transition: all 0.5s ease-in-out 0s;
  text-decoration: none;
  font-size: 1.2rem;
  font-size: 12px;
}

.round-black-btn:hover,
.round-black-btn:focus {
  background: var(--primary-color-3);
  color: #212529;
  text-decoration: none;
}
@media (min-width: 576px) {
  .product-container {
  }
  .product-image {
    width: 80%;
    height: 80%;
    object-fit: cover;
  }
  .product-name {
    font-size: 1.6rem;
  }

  .product-description {
    font-size: 1.2rem !important;
  }

  .product-dtl .round-black-btn {
    margin: 20px 120px 0;
    font-size: 1rem !important;
  }
}

@media (min-width: 768px) {
  .product-page {
    margin: 0px auto;
  }
}

@media (min-width: 1024px) {
  .product-container {
    flex-direction: row !important;
    gap: 50px;
  }
  .product-page {
    margin: auto !important;
    margin-bottom: 0;
  }

  .product-dtl .product-price {
    font-size: 1.3rem;
    font-weight: 500;
  }
}
